<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <title>謙爺爺的奇妙世界</title>

    <link rel='stylesheet' href='/stylesheets/normalize.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
  </head>
  <body>
    <!-- -------------------------------------------------------------------------------- -->
    <header class='header'>
      <p class="sub-title">謙爺爺的奇妙世界</p>
      <h1 class="title">Hi,I'm LeesinBa-_-ka</h1>
      <p class="site-description">Four legs good, Two legs better!</p>
      <div class="buttons">
        <a class="button" href="#about">About Me:3</a>
        <a class="button button-showy" href="#contact">Call我啦</a>
      </div>
    </header>
<!-- -------------------------------------------------------------------------------- -->
    <section class='about' id="about">
      <h2 class="heading">ABOUT ME</h2>
      <p class="about-text">
        你好，謝謝各位來臨這網站的人。本人只是在參考吉田真麻小姐的書，
        嘗試製作一個single page layout的網站。並使用NodeJs,ExpressJs,heroku，
        試實作functional-web-site，以後也希望從事程式業，閒事寫下外掛(如果得:D)，
        加油各位，我會努力的！
      </p>
    </section>
<!-- -------------------------------------------------------------------------------- -->
    <section class='game'>
      <h2 class="heading">FavGames</h2>
      <div class="game-wrapper">
        <div class="game-box minecraft">
          <img class="game-image" src="/images/2019-06-05_02.42.24.png" alt="圖片1">
          <div class="game-description">
            <div class="game-description-inner">
          <p class="game-text">
            歷史悠久，由細玩到大，自由的空氣就是新鮮的:3<br>
            開server的教學。<br>
            使用工具:家用Router,no-ip,java<br>
            <a href="#" class="button button-ghost">Coming soon</a>
          </p>
            </div>
        </div>
        </div>
        <div class="game-box rainbow">
          <img class="game-image" src="/images/wp1980778.jpg" alt="圖片2">
          <div class="game-description">
            <div class="game-description-inner">
          <p class="game-text">
            從無人氣到超多人玩，默默改善，接納玩家意見:3<br>
            一開始難上手，不過努力過後，就能找到樂趣<br>
            用:手,同滑鼠,同埋眼XD<br>
            <a href="#" class="button button-ghost">Coming soon</a>
          </p>
        </div>
      </div>
        </div>
        <div class="game-box osu">
          <img class="game-image" src="/images/unknown.png" alt="圖片3">
          <div class="game-description">
            <div class="game-description-inner">
          <p class="game-text">
            osu一玩沉迷，強大的community，pc音game清泉<br>
            大量玩家一起build up地圖使遊戲可玩性極高<br>
            用:永不放棄的意志:O<br>
            <a href="#" class="button button-ghost">Coming soon</a>
          </p>
        </div>
      </div>
        </div>
      </div>
      </div>
    </section>
<!-- -------------------------------------------------------------------------------- -->
    <section class='skill'>
      <h2 class="heading">My Skill</h2>
      <div class="skill-wrapper">
        <div class="skill-box">
          <i class="skill-icon fa fa-lightbulb-o"></i>
          <div class="skill-title">THINK</div>
          <p class="skill-text">
            不管正面負面思考，都要積極面對。
            學習是難，但不難不叫學。
            努力:3唔得亦唔緊要:)
          </p>
        </div>
        <div class="skill-box">
          <i class="skill-icon fa fa-paint-brush"></i>
          <div class="skill-title">HOBBY</div>
          <p class="skill-text">
            喜歡畫畫，但時間不夠，所以先學現在最重要的程式。
            喜歡看書學習不一樣的知識，留意社會時事。
            打遊戲!!!!
          </p>
        </div>
        <div class="skill-box">
          <i class="skill-icon fa fa-code"></i>
          <div class="skill-title">CODING</div>
          <p class="skill-text">
            我會寫一些簡單的python爬蟲(discord bot,FB video downloader)。
            也用冷門的ahk寫自動掛網for遊戲。
            未來希望自己真正的應用css而不是參考。
          </p>
        </div>
      </div>
    </section>
<!-- -------------------------------------------------------------------------------- -->
    <section class='contact'id="contact">
      <h2 class="heading">Contact</h2>
      <form class="contact-form" action="/contact/" method="POST">
        <input type="text" name="name" placeholder="NAME">
        <textarea name="message" placeholder="MESSAGE"></textarea>
        <input type="submit" value="OK">
      </form>
    </section>
<!-- -------------------------------------------------------------------------------- -->
    <footer class="footer">
      Reference: 最潮HTML5 + CSS3 網頁版型設計(single page layout)
    </footer>
  </body>
</html>


