<!DOCTYPE html>
<html>
    <head>
        <title>謙爺爺的奇妙世界</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/normalize.css">
    </head>
    <body>
        <section class="thanks-title">
            <h2 class="heading">感謝你按這個按鈕</h2>
        </section>
        <section class="message-name">
            <p>
              你的名字:<%= name %>
            </p>
        </section>
        <section class="message-text">
            <form type="text">
                你想跟我說的:<%= message %>
            </form>
        </section>
    </body>
    <footer class="footer">
        冇得send email 住XDD 因為驗證個D :3 不過用nodemailer is good my man
    </footer>
</html>